* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#board {
  position: relative;
  margin: auto;
}
table {
  margin: auto;
  border-collapse: collapse;
}
.node {
  display: inline-block;
  outline: 1px solid rgba(241, 156, 191, 0.548);
}

#start,
#end {
  position: relative;
  left: 22%;
}

.unvisited {
  background-color: #fff;
}

.visited {
  border: 1px solid rgb(240, 14, 153);
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(212, 84, 10, 0.75);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(144, 17, 217, 0.75);
  }
  75% {
    transform: scale(1.2);
    background-color: rgba(217, 0, 47, 0.75);
  }
  100% {
    transform: scale(1);
    background-color: rgba(218, 0, 182, 0.75);
  }
}

.path {
  background-color: crimson;
}

.wall {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.disabled {
  pointer-events: none;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgb(42, 12, 71);
  }
  50% {
    transform: scale(1.2);
    background-color: rgb(42, 12, 71);
  }
  100% {
    transform: scale(1);
    background-color: rgb(42, 12, 71);
  }
}
